# Default ignored files
/shelf/
/.idea/
# Datasource local storage ignored files
/../../../../../../:\Users\Юлия\IdeaProjects\PostTechnologyTest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

/allure-results
/allure-report
/.allure
/debug.log
/PostTechnologyTest.iml
target/generated-test-sources/
/target/
